{% extends "layout.html" %}
{% load cms_tags staticfiles %}
{% block extra_css %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}
{% block extra_script %}

<script src="{% static 'app/controllers/rss-feeds.js' %}"></script>
{% endblock %}
{% block main_container %}
<!-- Main Container -->
{% url 'hydraviewer:mapviewer' as map_url %}
<div class="row" ng-controller="rss">
    <h1 style="text-align: center;">Welcome to the <b>HYDRAFloods Viewer</h1>
        <h3 style="text-align: center;"><b>HYD</b>rologic <b>R</b>emote Sensing <b>A</b>nalysis</h3>
        <br>
        <div class="">
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-6">
                    <div class="card" id="precip">
                        <div class="card-image">
                            <a href="mapviewer">
                                <img class="zoom img-responsive grow"  src="/static/images/HYDRAFloodsViewer.png">
                                <h4><span class="card-title">[[ 'Explore the HYDRAFloods Viewer' | translate ]]</span></h4>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 well rss-feed" ng-init="getFeeds();">
                    <h3><b><i class="fa fa-rss fa-3x"></i>[[ 'RSS Feeds' | translate ]]</b></h3>
                    <div ng-repeat="feed in res_feeds">
                    <li style="list-style: none;">
                        <a href="[[feed.link]]" target="_blank">
                            <strong class="media-heading"><h3>[[feed.title]]</h3></strong>
                        </a>
                        <span><b>Published: </b>[[feed.published]]</span>
                        <h5>Description</h5>
                        <p ng-bind-html=trustAsHtml(feed.summary)></p>
                        <hr>
                    </li>
                    </div>

                </div>
            </div>
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-6">
                    <div class="card" id="scienceDoc">
                        <div class="card-image">
                            <a href="https://docs.google.com/document/d/e/2PACX-1vSqgJ4ZtD9NgD3DONduglm6YWVRh2RHcydyD-hzCH6pCZy5Awr9m0WomODZ6CRIQqMKyBsOWKIsFiWK/pub" target="_">

                                <img class="zoom img-responsive grow"  src="/static/images/science-documentation.png">
                                <h4><span class="card-title">[[ 'Science Documentation' | translate ]]</span></h4>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card" id="precip">
                        <div class="card-image">
                            <a href="https://hydra-floods.readthedocs.io" target="_">
                                <img class="zoom img-responsive grow"  src="/static/images/technicalDoc.png">
                                <h4><span class="card-title">[[ 'Technical Documentation' | translate ]]</span></h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-6">
                    <div class="card" id="historic">
                        <div class="card-image">
                            <a href="https://github.com/servir-mekong/hydra-floods" target="_">
                                <img class="zoom img-responsive grow"  src="/static/images/github.png">
                                <h4><span class="card-title">[[ 'Code' | translate ]]</span></h4>
                            </a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    {% endblock main_container %}
