.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .toggle-slider {
  background-color: #34495e ;
}

input:focus + .toggle-slider {
  box-shadow: 0 0 1px #34495e ;
}

input:checked + .toggle-slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

/* Rounded toggle-sliders */
.toggle-slider.round {
  border-radius: 34px;
}

.toggle-slider.round:before {
  border-radius: 50%;
}

.toggle-legend .form-group {
    margin-bottom: 0;
}

.color-picker-wrapper {
  min-width: 25px;
	height: 20px;
  margin-right: 5px;
}

input[type=color]{
	width: 26px;
	height: 21px;
	border: none;
	background: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none; /*change color of the swatch border here*/
	border-radius: 0;
}

.toggle-nav{
    opacity:1.0;
}

.toggle-nav:hover {
    background: #78e08f;
}

.toggle-nav:hover div {
    background: #34495e;
}

p {
    font-size: 12px;
    color: #666;
    font-weight: 400;
    letter-spacing: .5px;
}

.leaflet-touch .leaflet-control-layers-toggle {
    width: 35px;
    height: 35px;
}

.leaflet-control-layers-overlays hr{
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 2px solid #eee;
}

.leaflet-control-layers-overlays label{
    font-weight: 500;
    color: #000;
}

.leaflet-control-layers-expanded {
    padding: 6px 10px 6px 6px;
    color: #333;
    background: #fff;
    width: 150px;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.toggles-list .toggle {
    display: flex;
    align-items: center;
}

.toggles-list .toggle label {
    margin-left: 11px;
}

.switch_layer {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 12px;
}

.switch_layer input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider_toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bbb;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider_toggle:before {
  position: absolute;
  content: "";
  height: 9px;
  width: 9px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider_toggle {
  background-color: #9999ff;
}

input:focus + .slider_toggle {
  box-shadow: 0 0 1px #9999ff;
}

input:checked + .slider_toggle:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

/* Rounded sliders */
.slider_toggle.round {
  border-radius: 34px;
}

.slider_toggle.round:before {
  border-radius: 50%;
}

/* The container_radio */
.container_radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container_radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark_radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
  margin-left: 11px;
}

/* On mouse-over, add a grey background color */
.container_radio:hover input ~ .checkmark_radio {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container_radio input:checked ~ .checkmark_radio {
  background-color: #9999ff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark_radio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container_radio input:checked ~ .checkmark_radio:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container_radio .checkmark_radio:after {
 	top: 4px;
	left: 4px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: white;
}
.sidenav {
  width: 25%;
  height: 100%;
  position: fixed;
  overflow: auto;
  left: 0;
  background-color: #efefef;
  padding: 10px;
  z-index: 999;
  padding-bottom: 150px;
}

.sidenav a {
  text-decoration: none;
  font-size: 12px;
  color: #002244;
  display: block;
}